CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_singleapp_large.csv"

CONFIG_LWIP_DHCP_GET_NTP_SRV=y

CONFIG_LV_DRAW_SW_COMPLEX=y
CONFIG_LV_USE_DRAW_SW_COMPLEX_GRADIENTS=y